<h2>Create New Landmark</h2>

<form action = '/landmarks' method = "post">
  <h3>
    Name: <input type = "text" name = "landmark[name]" id = "landmark_name">
    Year:<input type = "text" name = "landmark[year_completed]" id = "landmark_year_completed">
    <input type = "submit" id = "create_new_landmark" value = "Create New Landmark">
  </h3>

</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
