<h2><%=@figure.name%></h2>
<h3>Titles</h3>
<ul>
  <%@figure.titles.each do |title|%>
<<<<<<< HEAD
    <li><%=title.name%></li>
=======
    <li>title.name</li>
>>>>>>> 73b2d68d832740be72bf12fc86477f59d8736d8c
  <%end%>
</ul>
<h3>Landmarks</h3>
<ul>
  <%@figure.landmarks.each do |landmark|%>
<<<<<<< HEAD
    <li><%=landmark.name%></li>
=======
    <li>landmark.name</li>
>>>>>>> 73b2d68d832740be72bf12fc86477f59d8736d8c
  <%end%>
</ul>
